<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/}" th:object="${user}">
  <!--    <input type="hidden" th:field="*{id}" id="id"/>-->
  <label for="firstname">Enter First name: </label>
  <br/>
  <input type="text" th:field="*{name}" id="firstname"/>
  <br/>
  <label for="lastname">Enter Last name: </label>
  <br/>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br/>
  <label for="age">Enter age: </label>
  <br/>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <br/>
  <tr>
    <td>
      <label>Roles:
        <select size="2" multiple name="listRoles" required="required">
          <option selected="selected" value="1">ADMIN</option>
          <option value="2">USER</option>
        </select>
      </label>
    </td>
  </tr>
  <br>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>