<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="firstname">Enter name: </label>
    <br/>
    <input type="text" th:field="*{name}" id="firstname"/>
    <br/>
    <label for="lastname">Enter Last name: </label>
    <br/>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>
    <label for="age">Enter age: </label>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <label for="password">Enter password: </label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <tr>
        <td>
            <label>Roles:
                <select size="2" multiple name="listRoles" required="required">
                    <option selected="selected" value="1">ADMIN</option>
                    <option value="2">USER</option>
                </select>
            </label>
        </td>
    </tr>

    <input type="submit" value="OK"/>
</form>


</body>
</html>