<!DOCTYPE html>

<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<html xmlns:form="http://www.w3.org/1999/xhtml">


    <tr>
        <td>
            <label>Roles:
                <select size="2" multiple name="listRoles" required="required">
                    <option selected="selected" value="1">USER</option>
                    <option value="2">ADMIN</option>
                </select>
            </label>
        </td>
    </tr>
    <br>
    <input type="submit" value="Завершить регистрацию"/>


</body>
</html>