<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table border = "3">
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
    <td th:utext="${user.getId}">id</td>
    <td th:utext="${user.getName()}">Name</td>
    <td th:utext="${user.getLastName()}">Surname</td>
    <td th:utext="${user.getAge()}">Age</td>
    <td th:utext="${user.getPassword()}">Password</td>
    <td>
        <li th:each="role: ${user.getRoles()}" th:text="${role.getName()}"></li>
    </td>
</table>
<br>
<a href="/logout">LOGOUT</a>
</form>
</body>
</html>